#root {
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*{
  scroll-behavior: smooth;
}

hr{
  width: 100%;
  opacity: .5;
  margin: 50px 0 ;
  border: 2px solid rgb(104, 189, 189);
}

nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  width: 70%;
  margin: 50px auto;

}

ul{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;

  li{
    border: 1px solid #aaa;
    box-shadow: 5px 5px 0px #aaa;
    padding: 10px 15px;
    border-radius: 5px;
    width: 250px;
    height: fit-content;
    transition: all .2s ease;

    &:hover{
      translate: 4px 4px;
      box-shadow: 1px 1px 0px #aaa;
    }

    a{
      display: block;
      font-size: larger;
      margin-bottom: 10px;
    }

    p{
      font-size: smaller;
      color: #aaa;
    }
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width:fit-content;
  margin: 0 auto;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  color:#0000;
  background:linear-gradient(90deg,#aaa calc(50% - 0.5ch),rgb(104, 189, 189) 0 calc(50% + 0.5ch),#000 0) right/calc(200% + 1ch) 100%;
  -webkit-background-clip:text;
          background-clip:text;
  animation: l8 2s infinite steps(11);
}
.loader:before {
  content:"Loading..."
}
@keyframes l8 {to{background-position: left}}





