:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  margin: 1rem 0;
}

h2{
  font-size: 2.3em;
  margin: 1rem 0 2rem 0;
}
h3{
  font-size: 1.5em;
  margin: 1rem 0 ;
}

ul{
  list-style: none;
}

a{
  color: rgb(104, 189, 189);
}
